<?xml version='1.0' encoding='UTF-8'?>
    <service xmlns='urn:dial-multiscreen-org:schemas:dial'>
        <name>#name#</name>
        <options allowStop='true'/>
        <activity-status xmlns='urn:chrome.google.com:cast'>
            <description>Legacy</description>
        </activity-status>
        <servicedata xmlns='urn:chrome.google.com:cast'>
            <connectionSvcURL>#connectionSvcURL#</connectionSvcURL>
            <protocols>#protocols#</protocols>
        </servicedata>
        <state>#state#</state>
        #link#
    </service>